footer
  align-items center
  background #3f51b5
  box-sizing border-box
  color #fff
  display flex
  flex-direction column
  padding 1rem
  white-space nowrap

.copyright
  text-align center

.addNote
  bottom 2rem
  color #fff
  position fixed
  right 1rem

