
<mat-toolbar color="primary"><span>OmBm Angular7-PWA</span><span class="space-between"></span>
  <button mat-icon-button="" [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item="">Home</button>
  <button mat-menu-item="">Profile</button>
  <button mat-menu-item="">Add Note</button>
</mat-menu>