mat-toolbar(color='primary')
	span OmBm Angular7-PWA
	span.space-between
	button(mat-icon-button='', [mat-menu-trigger-for]='menu')
		mat-icon more_vert
mat-menu(x-position='before', #menu='matMenu')
	button(mat-menu-item='') Home
	button(mat-menu-item='') Profile
	button(mat-menu-item='') Add Note
