/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html, body
	height 100%

body
	font-family 'Roboto', sans-serif
	margin 0

.pwa-note
  align-content space-between
  display flex
  flex-direction column
  height 100%

.main
	display flex
	flex 1

mat-card
	margin 2em auto
	max-width 80%
	text-align center

mat-toolbar-row
	justify-content space-between

